<configuration>
    <!--	
		Logging details
			folder - Full path. Default value: <ApplicationDirectory>\Logs
			
			size - in KB. Default value: 6000

			level - Default value: 4
			can be one of the following:
				NoLogging = 0,
				FatalError = 1,
				NonFatalError = 2,
				Warning = 3,
				Informational = 4,
				Functional = 5,
				Debug = 6			
	-->
	<log folder="" size="" level=""/>
	<!-- Fill only if proxy is used -->
	<proxy address="192.168.0.1" port="8080"/>
	<gtfs>
		<subway>
			<!-- 
				refresh - In seconds. Default value: 30 
				url - Default value: http://datamine.mta.info/mta_esi.php?key=
				data - Folder where to save downloaded feeds. Default value: <ApplicationDirectory>\MTA\NYC-Transit\Subway\Data\Live\
			-->
			<realTimeFeed refresh="" url="" data=""/>
			<!-- 
				refresh - In days. Default value: 120
				url - Default value: http://web.mta.info/developers/data/nyct/subway/google_transit.zip
				data - Folder where to save downloaded feeds. Default value: <ApplicationDirectory>\MTA\NYC-Transit\Subway\Data\Scheduled\
			-->			
			<staticFeed refresh="" url="" data=""/>
			<!--
				refresh - In seconds. Default value: 60
				url - Default value: http://web.mta.info/status/serviceStatus.txt
			-->
			<statusFeed refresh="" url=""/>
		</subway>
	</gtfs>
</configuration>